.search{
  display: flex;
  flex-direction: row;
  max-width: 30%;
  background-color: #ccccccac;
  border-radius: 50px;
  height: 50px;
  margin-bottom: 20px;
  justify-content: flex-end;
  margin-left: 1020px;
}

.searchInput{
  max-width: 80%;
  height: 40px;
  margin-left: 50px;
  color: aliceblue;
}

.searchbtn_evebtn{
  background-color: transparent;
  border-radius: 100px;
  border: 0;
}

.clearbtn_evebtn{
  color: #000000;
}

.noResult{
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  color: red;
  font-weight: 500;
}

.table{
  margin: auto;
  max-width: 90%;
}

label {
    display: block;
    margin-bottom: 5px; 
    font-weight: bold; /* Make labels bold */
  }
  
  /* CSS for inputs */
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px; 
  }
  
  /* CSS for autofocused input */
  input:focus {
    outline: none;
    border-color: #007bff; /* Change border color when input is focused */
  }

  h2{
    text-align: center;
  }

  .addSupplier{
    display: flex;
    justify-content: right;
    margin-top: 25px;
    margin-right: 80px;
    margin-bottom: 20px;
  }

  .report{
    display: flex;
    margin-top: 10px;
    margin-bottom: -20px;
    justify-content: right;
    margin-right: 40px;
  }

